.bannerContainer {
  position: relative;
  display: flex;
  background-color: #faedcd;
  padding: 20px;
  width: 70%;
  height: 200px;
  min-height: 200px;
  overflow: hidden;
  border-radius: 20px;
  margin: 100px auto 0;
  box-sizing: border-box;
  border-width: 4px;
  border-color: #ccd5ae;
}

.titleOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 90%;
  box-sizing: border-box;
}

.bannerImage {
  object-fit: cover; 
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .bannerContainer {
    width: 90%;
    margin: 100px auto 0;
    height: 200px;
  }

  .titleOverlay {
    width: 70%;
    padding: 10px;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .bannerContainer {
    width: 95%;
    margin: 100px auto 0;
    height: 200px;
  }

  .titleOverlay {
    width: 80%;
    padding: 8px;
  }

  .title {
    font-size: 1.2rem;
  }
}
