.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.filterToggleButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px; 
  width: 40px; 
  background-color: #d4a373; 
   border-radius: 20px 0px 0px 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 101;
}

.filterContainer {
  position: absolute;
  top: 0;
  right: -350px; 
  width: 350px; 
  height: 100%;
  background: white; 
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 100;
  padding: 20px;
}

.filterVisible {
  right: 0; 
}

.grid {
  display: grid;
  gap: 20px;
  
  grid-template-columns: repeat(1, 1fr);

  
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.error {
  text-align: center;
  color: red;
  margin-top: 20px;
}

.noProjects {
  text-align: center;
  margin-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}


.filterIcon {
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  transition: transform 0.3s ease-in-out;
}

.filterIconOpen {
  transform: rotate(-45deg);
}