.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.navItems {
  background-color: #f0f0f0;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navItem {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    display: flex; /* Enable flexbox for notification count */
    align-items: center; /* Align items vertically */
}
.navItem:hover {
  background-color: #e0e0e0;
}
.active {
  background-color: #d4a373;
  color: white;
}
.contentContainer {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.notificationCount {
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 2px 8px;
    margin-left: 10px;
    font-size: 0.9rem;
}