/* Tags Container */
.tagsContainer {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 20px;
  width: 100%; /* Ensures it fills the parent container */
}

.tagsContainer h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #000000;
  font-weight: bold;
}

.tagsList {
  display: flex;
  flex-wrap: wrap; /* Allows tags to wrap within the container */
  gap: 8px;
}

.tag {
  background-color: #d4a373;
  color: #524c4c;
  font-weight: bold;
  font-style: italic;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
}

/* Media Queries */
@media (max-width: 400px) {
  .tagsContainer {
    padding: 10px; /* Reduce padding on small screens */
    width: 100%; /* Ensure full width without overflow */
    /* Remove fixed heights to allow content to dictate height */
    /* Remove margin-right from rolesContainer */
  }
}