/* Roles Container */
.rolesContainer {
  background-color: #ccd5ae;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  flex: 1;                 
  min-width: 300px;        
  max-width: 500px;        
  min-height: 300px;
  max-height: 300px;        
  border-width: 3px;
  border-color: #000;
  overflow: auto;
}

.rolesContainer h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #000000;
  font-weight: bold;
}

.rolesList {
  display: flex;
  flex-wrap: wrap; /* Allows roles to wrap within the container */
  gap: 8px;
}

.role {
  background-color: #d4a373;
  color: #524c4c;
  font-weight: bold;
  font-style: italic;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
}

/* Media Queries */
@media (max-width: 400px) {
  .tagsContainer,
  .rolesContainer {
    padding: 10px; /* Reduce padding on small screens */
    width: 100%; /* Ensure full width without overflow */
    /* Remove fixed heights to allow content to dictate height */
    /* Remove margin-right from rolesContainer */
  }
}