/* RolesSelector.module.css */

/* Search Input Styling */
.searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .searchInput:focus {
    border-color: #0070f3;
  }
  
  /* Category Selection Dropdown Styling */
  .categorySelect {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    background-color: #f9f9f9;
  }
  
  .categorySelect:focus {
    border-color: #0070f3;
  }

  /* Roles Container Styling */
  .rolesContainer {
    display: grid;
    grid-template-rows: repeat(4, auto); /* Creates 4 rows */
    grid-auto-flow: column; /* Fills items into columns across the rows */
    gap: 12px;
    margin-bottom: 16px;
    max-height: 400px;
    overflow-y: auto;
  }
  
  /* Checkbox Label Styling for Roles */
  .roleCheckboxLabel {
    display: flex;
    align-items: center;
    padding: 10px 14px; /* Reduced padding for smaller tags */
    border-radius: 3px;
    font-size: 12px; /* Smaller font size */
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    max-width: 350px; /* Optional: Set a max width if you want tags to be more compact */
    white-space: nowrap; /* Prevents text from wrapping */
  }
  
  .title{
    font-size: 20px;
    font-weight: bold;
  }
  
  .roleCheckboxLabel:hover {
    background-color: #f0f0f0;
  }
  
  .roleCheckboxLabel input {
    margin-right: 8px;
  }
  
  /* Category Label for Each Role */
  .roleCategoryLabel {
    font-size: 11px; /* Smaller font for category label */
    color: #666;
    margin-left: 4px;
    font-style: italic;
  }
  .selectedRolesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .selectedRole {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
  }
  
  .removeRoleButton {
    background: none;
    border: none;
    color: #ff5a5a;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .removeRoleButton:hover {
    color: #ff0000;
  }
  
  
  /* Scrollbar Styling */
  .rolesContainer::-webkit-scrollbar {
    width: 6px;
  }
  
  .rolesContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .rolesContainer::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 3px;
  }
  
  .rolesContainer::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  