
.searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .searchInput:focus {
    border-color: #0070f3;
  }
  
    .categorySelect {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    background-color: #f9f9f9;
  }
  
  .categorySelect:focus {
    border-color: #0070f3;
  }

    .rolesContainer {
    display: grid;
    grid-template-rows: repeat(4, auto);     grid-auto-flow: column;     gap: 12px;
    margin-bottom: 16px;
    max-height: 400px;
    overflow-y: auto;
  }
  
    .roleCheckboxLabel {
    display: flex;
    align-items: center;
    padding: 10px 14px;     border-radius: 3px;
    font-size: 12px;     font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #d6e9c6;
    border: 1px solid #ddd;
    max-width: 350px;     white-space: nowrap;   }
  
  .title{
    font-size: 20px;
    font-weight: bold;
  }
  
  .roleCheckboxLabel:hover {
    background-color: #dff0d8;
  }
  
  .roleCheckboxLabel input {
    margin-right: 8px;
  }
  
    .roleCategoryLabel {
    font-size: 11px;     color: #666;
    margin-left: 4px;
    font-style: italic;
  }
  .selectedRolesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .selectedRole {
    background-color: #d6e9c6;
    border-radius: 3px;
    border: 1px solid #333;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
  }
  
  .removeRoleButton {
    background: none;
    border: none;
    color: #ff5a5a;
    font-size: 25px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .removeRoleButton:hover {
    color: #ff0000;
  }
  
  
    .rolesContainer::-webkit-scrollbar {
    width: 6px;
  }
  
  .rolesContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .rolesContainer::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 3px;
  }
  
  .rolesContainer::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  