.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownHeader{
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.arrow{
  margin-left: 10px;
}
.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  background-color: white;
  width: 100%;
  z-index: 1000;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdownListItem {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdownListItem:hover {
  background-color: #f0f0f0;
}