.sliderContainer {
    width: 100%;
}
.title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
.labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 0.8rem;
}
.slider {
  width: 100%;
}