/* TagsSelector.module.css */

/* Search Input Styling */
.searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .searchInput:focus {
    border-color: #0070f3;
  }
  
  /* Category Selection Dropdown Styling */
  .categorySelect {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    background-color: #f9f9f9;
  }
  
  .categorySelect:focus {
    border-color: #0070f3;
  }
/* Tags Container Styling */
.tagsContainer {
  display: grid;
  grid-template-rows: repeat(4, auto); /* Creates 4 rows */
  grid-auto-flow: column; /* Fills items into columns across the rows */
  gap: 12px;
  margin-bottom: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.title{
  font-size: 20px;
  font-weight: bold;
}
  
/* Checkbox Label Styling for Tags */
.tagCheckboxLabel {
  display: flex;
  align-items: center;
  padding: 10px 14px; /* Reduced padding for smaller tags */
  border-radius: 3px;
  font-size: 12px; /* Smaller font size */
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  max-width: 320px; /* Optional: Set a max width if you want tags to be more compact */
  white-space: nowrap; /* Prevents text from wrapping */
}

.tagCheckboxLabel:hover {
  background-color: #f0f0f0;
}

.tagCheckboxLabel input {
  margin-right: 4px; /* Reduced margin for smaller spacing */
}

/* Category Label for Each Tag */
.tagCategoryLabel {
  font-size: 11px; /* Smaller font for category label */
  color: #666;
  margin-left: 4px;
  font-style: italic;
}

  .selectedTagsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .selectedTag {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
  }
  
  .removeTagButton {
    background: none;
    border: none;
    color: #ff5a5a;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .removeTagButton:hover {
    color: #ff0000;
  }
  
  
  /* Scrollbar Styling */
  .tagsContainer::-webkit-scrollbar {
    width: 6px;
  }
  
  .tagsContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .tagsContainer::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 3px;
  }
  
  .tagsContainer::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  
  