
.outerContainer {
    background-color: #faedcd; 
    padding: 20px; 
    border-radius: 10px; 
  }
.projectListContainer {
    position: relative; 
    margin-bottom: 20px;
}

.projectList {
    display: flex;
    overflow-x: auto; 
    padding: 15px 0;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.projectList::-webkit-scrollbar {
    display: none; 
}
.scrollIndicator {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none; 
  transform: translateY(-50%);
}

.scrollButton {
  background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    transition: background-color 0.3s ease;
}

.scrollButton:hover {
    background: rgba(255, 255, 255, 0.9);
}