.filterContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  align-items: flex-start;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.filterGroup h3 {
  margin-bottom: 5px;
  font-size: 1em;
}

.filterGroup label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filterGroup select,
.filterGroup input[type='text'] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9em;
}

.applyButton {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #d4a373;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  align-self: center;
}


.applyButton:hover {
  background-color: #d4a373;
  color: black;
}
.dropdownContent {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
  z-index: 100;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrollableContent {
    max-height: 150px;
    font-size: .9em;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    padding: 5px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  white-space: normal;
  margin-bottom: 5px;
}

.checkboxLabel input[type="checkbox"] {
  margin-right: 5px;
}

.filterButtonContainer {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px;
  width:100%;
  margin-top:10px;/* Space below date filter*/
}
.clearButton {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #e74c3c;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  align-self: center;
}

.clearButton:hover{
  background-color: #e74c3c;
  color: black;

}